main {
  section {
    position: relative;
    min-height: 100svh;
    @include flex-center;
    color: $hero-text-color;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      z-index: 0;
      background-color: #13172c;
      opacity: 1;
    }

    div {
      position: relative;
      z-index: 1;
      max-width: rem(1200);
      @include responsive-margins;


      .text-container {
        @include flex-center;
        min-height: 100vh;
        width: 100%; // Ensure full width

        .main-text {
          font-size: 12vw; // This will make the font size 12% of the viewport width
          font-weight: bold;
          font-family: Arial, sans-serif;
          position: relative;
          white-space: nowrap;

          // Optionally, set a min and max font size
          font-size: clamp(5rem, 12vw, 15rem);

          .static-text {
            display: inline-block;
            position: relative;
            z-index: 2;
          }

          .animated-u {
            display: inline-block;
            position: relative;
            z-index: 1;
            animation: slideIn 1s ease-out forwards;
            opacity: 0;
            transform: translateX(-200px);
            color: #5eaed2;
          }
        }
      }
    }
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  40% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


// Section Banner styles
.banner {
  position: relative;
  padding: rem(40) rem(20);
  background: linear-gradient(to bottom, #333, #555);
  color: $nav-color-white;
  box-shadow: 0 0 rem(10) rgba(0, 0, 0, 0.2);

  h2 {
    font-size: rem(36);
    font-weight: 700;
    margin: 0;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.8s forwards;
  }
}


//.hero-gif {
//  width: 100%;
//  max-width: rem(600);
//  height: auto;
//  max-height: rem(200);
//  margin-bottom: rem(20);
//  opacity: 0;
//  transform: translateY(rem(20));
//  animation: fadeInUp 0.8s forwards;
//}
//
//@keyframes fadeInUp {
//  to {
//    opacity: 1;
//    transform: translateY(0);
//  }
//}
//p {
//  @include subtitle-font;
//  margin-bottom: rem(40);
//  opacity: 0;
//  transform: translateY(rem(20));
//  animation: fadeInUp 0.8s 0.2s forwards;
//}