main {
  section.banner {
    color: $color-white;
    position: relative;
    min-height: 100svh;
    display: flex;
    align-items: center;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      background-image: url('../resources/placeholders/ph38.jpg');
      background-size: cover;
      background-position: center;
      opacity: 1;
    }

    .container {
      position: relative;
      z-index: 1;
    }
  }
}