@use "sass:math";

@function rem($pixel) {
  @if math.is-unitless($pixel) {
    @return math.div($pixel, 16) + rem;
  } @else {
    @error 'Don\'t use units when using the rem() function; only numbers.';
  }
}

* {
  //width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //border: solid 1px greenyellow;
}

$padding-large: rem(128);
$padding-medium: rem(64);
$padding-small: rem(32);
$hamburger-bar-height: rem(5);
$transition-duration: .6s;
$timing: cubic-bezier(0.5, 0, 0.5, 1);
//$background-color-dark: #170044;
$background-color-dark: rgba(0, 0, 0, 0.4);
$blur: blur(5px);
//$background-color-dark-hover: #260069;
$background-color-dark-hover: rgba(0, 0, 0, 0.5);
$color-white: #FFF;
$color-gray: #313131;


.hamburger {
  width: rem(35);
  position: relative;
  display: block;
  cursor: pointer;
  appearance: none;
  background: none;
  outline: none;
  border: none;
  //margin-right: 5%;
  margin-left: auto;

  .bar, &:after, &:before {
    content: '';
    display: block;
    width: 100%;
    height: $hamburger-bar-height;
    background-color: $color-white;
    margin: 6px;
    transition: $transition-duration;
  }

  &.is-active {
    &:before {
      transform: rotate(-45deg) translate(-8px, 6px);
    }

    &:after {
      transform: rotate(45deg) translate(-9px, -8px);
    }

    .bar {
      opacity: 0;
    }
  }
}

header {
  #navigation {
    position: fixed;
    z-index: 100;
    background-color: $background-color-dark;
    color: $color-white;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;

    img {
      max-width: rem(50);
      height: rem(40);
      margin: rem(5) rem(5) rem(5);

    }

    h2 {
      top: 50%;
      color: inherit;
      text-transform: uppercase;
      font-size: rem(32);
      font-weight: 900;
      width: fit-content;
    }

    nav {

      ul > li:has(ul) > a::after {
        content: url('../resources/images/right.svg');
        filter: brightness(0) invert(1);
        padding-left: rem(10);
        z-index: 1000;
      }

      ul {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        min-height: 100vh;
        min-height: 100svh;
        display: block;
        z-index: 40;
        background-color: $background-color-dark;
        margin-top: rem(50);
        padding-top: rem(20);
        transition: $transition-duration;
        transition-timing-function: $timing;

        &.is-active {
          left: 0;
        }

        a {
          text-decoration: none;
          color: $color-white;
        }

        li {
          display: flex;
          list-style-type: none;
          margin: 0;
          padding: 0;

          a {
            display: block;
            width: fit-content;
            max-width: rem(200);
            padding: rem(12) rem(16);
            color: $color-white;
            text-decoration: none;
          }

          ul {
            width: fit-content + rem(60);
            transition: $transition-duration;
            transition-timing-function: $timing;

            li:first-child {
              cursor: pointer;
              z-index: 900;
              font-size: rem(18);
              font-weight: bold;
              display: flex;
              align-items: center;

              a::before {
                content: url('../resources/images/left.svg');
                filter: brightness(0) invert(1);
                padding-right: rem(10);
                z-index: 1000;
              }
            }

            li {
              a {
                display: block;
                width: 100%;
                max-width: rem(200);
                padding: rem(12) rem(16);
                color: $color-white;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(md) {
  header {
    #navigation {
      position: fixed;
      z-index: 20;
      background-color: $background-color-dark;
      color: $color-white;
      display: flex;
      align-items: center;
      width: 100%;
      max-width: 100%;
      backdrop-filter: $blur;
      padding: rem(10) rem(20);
      height: rem(60);
      margin-top: 0;

      img {
        max-width: rem(50);
        height: rem(40);
        margin: rem(5) rem(5) rem(5);
      }

      h2 {
        width: fit-content;
        color: inherit;
        text-transform: uppercase;
        font-size: rem(32);
        font-weight: 900;
        margin: 0 0 0 rem(10);
      }

      nav {
        ul {
          position: static;
          top: 50%;
          left: 0;
          width: 100%;
          min-height: fit-content;
          display: flex;
          z-index: auto;
          background-color: transparent;
          margin: 0 0 0 rem(10);
          padding: 0;
          height: rem(60);
          list-style: none;

          // {
          //  border: 1px solid greenyellow;
          //}

          li {
            width: fit-content;
            display: flex;
            align-items: flex-end;
            position: relative;


            a {
              white-space: nowrap;
              width: fit-content;
              color: $color-white;
              text-decoration: none;
              padding: rem(15) rem(20);
              &:hover {
                background-color: $background-color-dark-hover;
              }
            }

            ul {
              width: fit-content;
              height: fit-content;
              display: none;
              position: absolute;
              top: 100%;
              left: 0;
              z-index: 50;
              margin: 0;
              background-color: $background-color-dark-hover;
              backdrop-filter: $blur;

              li:first-child {
                display: none;
              }
            }

            &:hover {
              > a {
                background-color: $background-color-dark-hover;
                backdrop-filter: $blur;
              }

              > ul {
                display: block;
                opacity: 1;
              }
            }

            &:has(ul) > a {
              position: relative;

              &::after {
                content: url('../resources/images/single-down.svg');
                filter: brightness(0) invert(1);
                padding-right: 0;
                display: block;
                position: absolute;
                top: 90%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
            }
          }
        }
      }
    }
    .hamburger {
      display: none;
    }
  }
}
