.hamburger {
  @include hamburger; // Assuming you have a mixin for styling the hamburger
  position: fixed;
  z-index: 1000;
  top: 20px; // Adjust as needed for vertical spacing
  right: 20px; // Adjust as needed for horizontal spacing
}

header {
  #navigation {
    background: transparent;
    @include flex-center;
    position: fixed;
    width: 100%;
    max-width: 100%;
    margin: 0 !important;
    padding: 0;
    color: $nav-color-white;
    z-index: 100;

    nav {
      background-color: transparent;
      padding-right: 10%;
      margin-left: auto;

      ul {
        top: 0;

        position: fixed;
        @include adaptive-nav-width;
        left: -100%; // Start off-screen to the left
        min-height: 100vh;
        min-height: 100svh;
        display: block;
        z-index: 40;
        background-color: $nav-background-color-dark;
        margin-top: 0;
        padding-top: rem(20);
        transition: left $nav-transition-duration $nav-timing;
        text-align: left;

        &.is-active {
          left: 0; // Slide in to the viewport
        }

        li {
          display: flex;
          list-style-type: none;
          margin: 0;
          padding: 0;
          justify-content: flex-start;

          a {
            text-decoration: none;
            color: $nav-color-white;
            display: block;
            width: fit-content;
            max-width: rem(200);
            padding: rem(12) rem(16);
            margin-left: rem(16); // Change to left margin
          }

          &:has(ul) > a::after {
            content: url('../resources/images/right.svg');
            filter: brightness(0) invert(1);
            padding-left: rem(10);
            z-index: 1000;
          }

          ul {
            top: 0;
            width: fit-content + rem(60);
            transition: $nav-transition-duration $nav-timing;

            li:first-child {
              cursor: pointer;
              z-index: 900;
              font-size: rem(18);
              font-weight: bold;
              @include flex-center;
              justify-content: flex-start; // Align to the left

              a::before {
                content: url('../resources/images/left.svg');
                filter: brightness(0) invert(1);
                padding-right: rem(10);
                z-index: 1000;
              }
            }
          }
        }
      }
    }
  }
}

// Media query adjustments remain the same

@media only screen and (orientation: landscape) {
  header {
    #navigation {
      height: 5vw;
      a {
        img {
          max-width: rem(60);
          height: 5vw;
          margin: rem(5);
        }
      }
      h2 {
        font-size: rem(34);
      }
    }
  }
}