// Variables for colors and fonts
$primary-color: #37a0ab;
$background-color: #13172c;
$text-color: #fff;
$secondary-text-color: #aaa;
$font-family: 'Inter', sans-serif;

// Slide-in animation

#footer {
  background-color: $background-color;
  color: $text-color;
  font-family: $font-family;

  .top {
    flex-direction: column;
    padding: 2rem;
    display: flex;
    align-items: flex-start;

    .branding {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      height: fit-content;
      margin-bottom: 4vh;

      h1 {
        font-size: 3rem;
        font-weight: 700;
        color: $text-color;
        margin-bottom: 0.5rem;

        span {
          @include u-slidein;

        }
      }

      div {
        display: flex;
        gap: 1rem;
        font-size: 1rem;
        font-weight: 500;
        margin-top: auto;

        span {
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .info {
      display: grid;
      grid-auto-flow: row;
      gap: 2rem;
      width: 100%;

      .column {
        width: 100%;
        height: fit-content;

        h3 {
          font-size: 1rem;
          font-weight: 700;
          color: $primary-color;
          margin-bottom: 1rem;
        }

        p {
          font-size: 0.875rem;
          line-height: 1.5;
        }

        a {
          color: $text-color;
          text-decoration: underline;

          &:hover {
            color: $primary-color;
          }
        }
      }
    }

    .links {
      margin-top: 2rem;
      text-align: left;
      width: fit-content;

      h3 {
        font-size: 1rem;
        font-weight: 700;
        color: $primary-color;
        margin-bottom: 1rem;
      }

      ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        padding: 0;
        width: fit-content;

        li {
          cursor: pointer;
          text-align: left;
          padding: 2px;

          &:hover {
            text-decoration: underline;
            text-decoration-style: dashed;
          }
        }
      }
    }
  }

  .footer-banner {
    position: relative;
    width: 100%;
    height: fit-content;
    min-height: 9rem;
    background: linear-gradient(90deg,
            rgba(49,151,158,1) 0%,
            rgba(56,134,143,1) 100%);
    padding: 0;

    .legal {
      margin: 0 0 1rem 0;
      position: absolute;
      bottom: 0;
      left: 20px;
      display: flex;
      flex-direction: column;
      gap: 0.4rem;

      &::before {
        content: '';
        position: absolute;
        top: -10px;
        left: 0;
        width: 50vw;
        height: 2px;
        background-color: #1a7a7f;
      }

      a {
        color: #1a7a7f;
        text-decoration: none;
        position: relative;
        z-index: 1;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    img {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 19vh;
      min-height: 11rem;
      object-fit: contain;
      margin: 0;
      padding: 0;
    }
  }

  // Media queries for larger screens
  @media (min-width: $screen-md) {
    .top {
      flex-direction: row;
      justify-content: space-between;

      .branding {
        width: 20vw;
        height: 25vh;
        margin-bottom: 1.5rem;
      }

      .info {
        grid-template-columns: repeat(3, 1fr);
      }

      .links {
        grid-column: span 3;
        height: 10vh;
      }
    }

    .footer-banner {
      .legal {
        a {
          font-size: 0.8rem;
        }
      }
    }
  }
}