@import '../utilities';
@import '../variables';

// Footer Styles
footer {
  background-color: $footer-bg-color;
  padding: $footer-padding;

  .footer {
    max-width: $footer-max-width;
    margin: auto;

    nav {
      @include flex-container;
      margin: 0;

      .footer-col {
        width: 25%;
        padding: $column-padding;

        h4 {
          font-size: rem(20);
          color: $footer-text-color;
          text-transform: capitalize;
          margin-left: rem(10);
          margin-bottom: rem(35);
          font-weight: 500;
          position: relative;

          &::before {
            @include underline-pseudo-element;
          }
        }

        ul {
          list-style: none;
          padding: 0;

          li:not(:last-child) {
            margin-bottom: rem(10);
          }

          a {
            width: fit-content;
            font-size: rem(18);
            text-transform: capitalize;
            color: $footer-link-color;
            text-decoration: none;
            font-weight: 300;
            display: block;
            transition: all $transition-duration ease;

            &:hover {
              color: $footer-text-color;
              padding-left: rem(8);
            }
          }
        }

        .social-links {
          a {
            @include social-icon;

            &:hover {
              color: $footer-bg-color;
              background-color: $footer-text-color;

              img {
                filter: brightness(0) invert(0.4);
              }
            }

            img {
              width: 70%;
              height: auto;
              object-fit: contain;
              filter: brightness(0) invert(1);
            }

            .tooltip {
              visibility: hidden;
              width: rem(120);
              background-color: #333;
              color: $footer-text-color;
              text-align: center;
              border-radius: 5px;
              padding: 5px;
              position: absolute;
              bottom: 125%;
              left: 50%;
              transform: translateX(-50%);
              opacity: 0;
              transition: opacity $transition-duration;
              z-index: 1;
            }

            &:hover .tooltip {
              visibility: visible;
              opacity: 1;
            }
          }
        }
      }
    }
  }

  // Responsive styles
  @media (max-width: $breakpoint-medium) {
    .footer-col {
      width: 50% !important;
      margin-bottom: rem(30);
    }
  }

  @media (max-width: $breakpoint-small) {
    .footer-col {
      width: 100% !important;
    }
  }
}