#services {
  font-family: 'Roboto', sans-serif;
  background-color: #13172c;
  color: #ffffff;

  .container {
    max-width: 1300px;
    padding: 10vh 2vw;

    header {
      text-align: left;
      color: #ffffff;

      h1 {
        font-size: 2rem;
        font-weight: 700;
      }

      p {
        font-size: 1rem;
        font-weight: 400;
        margin-top: 1rem;
        color: #b0c4d4;
      }

      button {
        display: inline-block;
        margin-top: 1.5rem;
        padding: 0.8rem 1.5rem;
        @include btn-gradient-background;
        color: #fff;
        font-weight: 700;
        text-decoration: none;
        border: none;
        border-radius: 20px;
        font-size: 1rem;
        transition: background-color 0.3s;
      }
    }

    ul {
      margin-top: 3rem;
      display: grid;
      padding: 0 5vw;

      li {
        display: grid;
        grid-template-columns: auto auto auto 1fr;
        align-items: center;
        gap: 4vw;
        padding:  2.2rem 1.5rem;
        border-bottom: 2px solid #1c2b3a;

        &:first-child {
          border-top: 2px solid #1c2b3a;
        }

        span {
          color: #b0c4d4;
          font-size: 1.5rem;
          flex-shrink: 0;
        }

        img {
          height: 2.5rem;
          flex-shrink: 0;
          white-space: nowrap;
        }

        h3 {
          font-weight: 600;
          font-size: 1.6rem;
          width: 18vw;
          margin: 0;
          white-space: nowrap;
        }

        p {
          font-weight: 400;
          font-size: 0.95rem;
          color: #b0c4d4;
          line-height: 1.6;
          margin: 0;
          padding-left: 2vw;
        }
      }
    }

    @media (max-width: $screen-lg) {
      ul {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        li {
          display: block;
          padding: 1.5rem;
          border-bottom: 2px solid #1c2b3a;

          &:first-child {
            border-top: 2px solid #1c2b3a;
          }

          span, img, h3 {
            display: inline-block;
            margin-right: 3vw;
          }

          p {
            margin: 0.5rem 0 0 0;
            width: 100%;
            padding: 0;
          }
        }
      }
    }
  }
}