#team {
  min-height: 30vh;
  margin: 0;
  ul {
    display: flex; /* Make the parent container a flex container */
    flex-direction: row; /* Arrange items horizontally */
    flex-wrap: wrap; /* Allow items to wrap onto the next line if necessary */
    justify-content: center; /* Center the items */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    li {
      text-decoration: none;
      list-style: none; /* Remove list bullet points */
      display: flex; /* Make the list items flex containers */
      flex-direction: column; /* Arrange items vertically within each li */
      align-items: flex-start; /* Align items to the start (left) */
      gap: 10px; /* Add spacing between image and heading */
      width: 20%; /* Set a fixed width for the list items (adjust as needed) */
      min-width: 200px; /* Minimum width for each list item */
      margin: 0; /* Add some margin around each list item */
      padding: 0;

      img {
        padding-top: 10px;
        max-width: 100%;
        object-fit: contain;
      }

      h3 {
        display: flex;
        align-items: flex-end; /* Align text and arrow vertically */
        margin:2vh 3vw 2vh 3vw; /* Push the h3 to the right side */
        margin-left: auto;

        &::after {
          content: ''; /* Empty content, as we'll use background-image */
          background-image: url('../resources/images/single-down.svg');
          top: 50%;
          z-index: 1000;
          display: inline-block; /* Ensure the pseudo-element is a block */
          width: rem(15); /* Set the width of the pseudo-element */
          height: rem(15); /* Set the height of the pseudo-element */
          background-repeat: no-repeat; /* Prevent repeating of the background image */
          background-position: center; /* Center the image */
          transform: rotate(-90deg) scale(1.5); /* Rotate the background image */
        }
      }
    }
  }
}

