#team {
  min-height: 30vh;
  margin: 0;

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;

    li {
      text-decoration: none;
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      width: 20%;
      min-width: 200px;
      margin: 0;
      padding: 0;

      img {
        padding-top: 10px;
        max-width: 100%;
        object-fit: contain;
      }

      h3 {
        display: flex;
        align-items: flex-end;
        margin: 2vh 3vw;
        margin-left: auto;

        &::after {
          content: '';
          background-image: url('../resources/images/arrow-right.svg');
          top: 50%;
          z-index: 1000;
          display: inline-block;
          width: rem(15);
          height: rem(15);
          background-repeat: no-repeat;
          background-position: center;
          transform: scale(2);
        }
      }
    }
  }
}