#video {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 2rem;
  background-color: #fff;
  position: relative;
  height: 90vh;
  min-height: fit-content;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 10vw;
    width: 23.5vw;
    height: 100vh;
    background: radial-gradient(#2a9da6, #278e96);
    z-index: 1;

    @media (max-width: 900px) {
      width: 30% !important;
    }
  }


  .background {
    position: relative;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: 900px) {
      width: 50%;
      padding-right: 2rem;
    }

    .video-container {
      z-index: 2;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      @media (min-width: 900px) {
        max-width: 100%;
        width: 70vw;
      }

      iframe {
        $video-size: 35vh;
        $min-video-size: 200px;
        width: calc($video-size * (16 / 9));
        height: $video-size;
        min-width: calc($min-video-size * (16 / 9));
        min-height: $min-video-size;
        object-fit: cover;

      }
    }
  }

  .content {
    z-index: 2;
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 2rem;

    @media (min-width: 900px) {
      width: 50%;
      text-align: left;
      margin-top: 0;
    }

    h2 {
      font-size: 1.875rem;
      color: #0F213E;
      margin-bottom: 1rem;

      @media (min-width: 900px) {
        font-size: 2.25rem;
      }
    }

    p {
      font-size: 1.125rem;
      color: #4A5568;
    }
  }
  @media (min-width: 900px) {
    flex-direction: row;
    justify-content: space-between;
  }
}
