@use "sass:math";

#video {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vh;
  padding: 4vh 2vw 0;
  background-color: #fff;
  position: relative;
  height: 70vh;
  min-height: fit-content;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 10vw;
    width: 23.5vw;
    height: 70vh;
    background: radial-gradient(#2a9da6, #278e96);
    z-index: 1;
  }
  .video-container {
    z-index: 2;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: fit-content;
    flex-shrink: 0;

    iframe {
      $video-size: 70vw;
      $min-video-size: 200px;
      width: $video-size;
      height: calc($video-size * (9 / 16));
      min-width: $min-video-size;
      min-height: calc($min-video-size * (9 / 16));
      //object-fit: cover;
    }
  }

  .content {
    z-index: 2;
    position: relative;
    width: fit-content;
    text-align: center;
    margin: 0 0 0 33.5vw;
    height: fit-content;

    h2 {
      font-size: 2.2rem;
      font-weight: 650;
      color: #0F213E;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.125rem;
      color: #4A5568;
    }
  }

  @media (min-width: $screen-lg) {
    padding: 5vh 13vw;
    flex-direction: row;
    justify-content: space-between;
    height: 90vh;

    &::after {
      width: 24vw;
      height: 100vh;
    }

    .video-container {
      iframe {
        @include yt-iframe-size-calculations;
      }
    }

    .content {
      width: fit-content;
      text-align: left;
      margin: 5vw;

      h2 {
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
      }
    }
  }
}
