#video {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vh;
  padding: 9vh 2vw 0;
  background-color: #fff;
  position: relative;
  height: 70vh;
  min-height: fit-content;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: clamp(10px, 10vw, 150px);
    width: 23.5vw;
    height: 70vh;
    background: radial-gradient($primary-color, lighten($primary-color, 10%));
    z-index: 1;
  }

  .video-container {
    z-index: 2;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-shrink: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.9), 0 0 5px rgba(0, 0, 0, 0.9);

    iframe {
      width: 65vw;
      aspect-ratio: 16/9;

    }
  }

  .content {
    z-index: 2;
    position: relative;
    width: fit-content;
    text-align: left;
    margin: 0 0 0 33.5vw;
    height: fit-content;
    flex-shrink: 0;


    h2 {
      font-size: 2.2rem;
      font-weight: 650;
      color: #0F213E;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.125rem;
      color: #4A5568;
      margin: 0;
    }
  }

  @media (min-width: $screen-lg) {
    padding: 5vh 13vw;
    flex-direction: row;
    justify-content: space-between;
    height: 90vh;
    gap: 0;

    &::after {
      height: 100vh;
    }

    .video-container{
      max-width: 50vw;
      
      iframe {
        width: 35vw;
        aspect-ratio: 16/9;
      }
    }

    .content {
      max-width: 35vw;
      text-align: left;
      margin-left: 1px;
      width: fit-content;


      h2 {

        font-size: 2.5rem;
        margin-bottom: 1.5rem;
      }
    }
  }
}
