// _utilities.scss
@use "sass:math";

$hamburger-scale-factor: .9;
$bar-color: #f1f1f1;
@mixin hamburger {

  $hamburger-size: 5.625rem;
  $bar-height: 0.625rem;
  $bar-spacing: 1.5rem;

  // Box shadow variables
  $bar-shadow-color: rgba(0,0,0,0.3);
  $bar-shadow-h-offset: 0;
  $bar-shadow-v-offset: 1px;
  $bar-shadow-blur: 3px;
  $bar-shadow-spread: 1px;

  width: $hamburger-size * $hamburger-scale-factor;
  position: relative;
  display: block;
  cursor: pointer;
  appearance: none;
  background: none;
  outline: none;
  border: none;
  margin-right: 5%;
  margin-left: auto;

  .bar, &:after, &:before {
    content: '';
    display: block;
    width: 100%;
    height: $bar-height * $hamburger-scale-factor;
    background-color: $bar-color;
    margin: ($bar-spacing / 2) * $hamburger-scale-factor;
    transition: 0.5s;

    // Add box shadow to each bar
    box-shadow:
            $bar-shadow-h-offset
            $bar-shadow-v-offset
            $bar-shadow-blur
            $bar-shadow-spread
            $bar-shadow-color;
  }

  &.is-active {
    &:before {
      transform: rotate(-45deg) translate(-1.2rem * $hamburger-scale-factor, 0.75rem * $hamburger-scale-factor);
    }

    &:after {
      transform: rotate(45deg) translate(-1.2rem * $hamburger-scale-factor, -0.75rem * $hamburger-scale-factor);
    }

    .bar {
      opacity: 0;
    }
  }

  transform: scale($hamburger-scale-factor);
}

@mixin site-padding {
  padding: 0 clamp(10px, 10vw, 150px);
}

@mixin adaptive-nav-width($max-percentage: 60%) {
  width: min(100%, 450px);
  right: calc(-1 * min(100%, 450px));
}

@mixin yt-iframe-size-calculations {
  $video-size: 500px;
  $min-video-size: 400px;
  $max-video-size: 500px;
  width: $video-size;
  height: calc($video-size * (9 / 16));
  min-width: $min-video-size;
  min-height: calc($min-video-size * (9 / 16));
  max-width: $min-video-size;
  max-height: calc($min-video-size * (9 / 16));
}

@mixin u-slide-in {
  display: inline;
  position: relative;
  z-index: 2;
  padding: 0;
  margin: 0;

  &:nth-child(2) {
    display: inline-block;
    position: relative;
    z-index: 1;
    animation: slideIn 1s ease-out forwards;
    animation-delay: 0s;
    opacity: 0;
    transform: translateX(-200px);
    color: rgba(49, 151, 158, 1);
    margin: 0;
  }

  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateX(-300%);
    }
    40% {
      opacity: 1;
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
}

@mixin background-blur {
  background-color: $nav-background-color-dark;
  backdrop-filter: $nav-blur;
}

@mixin hover-effect {
  &:hover {
    background-color: $nav-background-color-dark-hover;
    backdrop-filter: $nav-blur;
  }
}

@mixin btn-gradient-background {
  background: radial-gradient(#45a0a9, #398890);

  &:hover {
    background: radial-gradient(#41b6c2, #398890);
  }
}

// Footer Mixins
@mixin flex-container {
  display: flex;
  flex-wrap: wrap;
}

@mixin underline-pseudo-element {
  content: '';
  position: absolute;
  left: 0;
  bottom: rem(-10);
  background-color: $footer-accent-color;
  height: rem(2);
  width: rem(50);
  box-sizing: border-box;
}

@mixin social-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: rem(40);
  width: rem(40);
  background-color: rgba(255, 255, 255, 0.2);
  margin: rem(10) rem(20) rem(10) 0;
  border-radius: 50%;
  overflow: hidden;
  transition: all $footer-transition-duration ease;
}