// Screen width breakpoints
$screen-xs: 480px;   // Mobile devices
$screen-sm: 640px;   // Extra small devices
$screen-md: 768px;   // Small devices
$screen-lg: 1024px;  // Medium devices
$screen-xl: 1280px;  // Large devices
$screen-xxl: 1536px; // Extra large devices

// nav.variables
$nav-transition-duration: .6s;
$nav-timing: cubic-bezier(0.5, 0, 0.5, 1);
$navbar-background-color-dark: transparent;
$nav-background-color-dark: rgb(0, 12, 33);
$nav-blur: blur(5px);
$nav-background-color-dark-hover: rgba(0, 0, 0, 0.5);
$nav-color-white: #FFF;
$nav-height: rem(60);

$nav-padding: rem(10) rem(20);
$nav-link-padding: rem(15) rem(20);

//hero.variables
$hero-text-color: #ffffff;
$hero-background-image: url('../resources/placeholders/ph38.jpg');

@mixin title-font {
  font-size: rem(65);
  font-weight: 700;
  //text-transform: uppercase;
}

@mixin subtitle-font {
  font-size: clamp(1.12rem, 2.88vw, 2.50rem);
  font-weight: 350;
  line-height: 1.5;
  //text-transform: uppercase;
}



//footer.variables

$footer-bg-color: #24262b;
$footer-text-color: #ffffff;
$footer-link-color: #bbbbbb;
$footer-accent-color: #e91e63;
$footer-max-width: rem(1170);
$footer-padding: rem(70) 0;
$footer-column-padding: 0 rem(15);
$footer-transition-duration: 0.3s;

// Breakpoints
$footer-breakpoint-medium: rem(767);
$footer-breakpoint-small: rem(574);